name: Build & Deploy Salesforce

on:
  push:
    branches:
      - main

  workflow_dispatch:
    inputs:
      run-tests:
        description: "Run Apex tests"
        type: boolean
        default: true
        required: true

jobs:
  build:
    uses: wtaxco/wtax-github-actions-workflows/.github/workflows/build-sfdx-project.yml@testing
    with:
      run-compile-and-test: false
    secrets:
      ansible-vault-password: ${{ secrets.VAULT_PASSWORD }}

  developer:
    needs: build
    uses: wtaxco/wtax-github-actions-workflows/.github/workflows/deploy-sfdx-project-to-developer.yml@testing
    with:
      run-tests: ${{ inputs.run-tests == null || inputs.run-tests }}
      environment: developer
      metadata-artifact: ${{ needs.build.outputs.metadata-artifact }}
      test-classes-artifact: ${{ needs.build.outputs.test-classes-artifact }}
      deletes-artifact: ${{ needs.build.outputs.deletes-artifact }}
      git-deploy-tag: developer
    secrets:
      ansible-vault-password: ${{ secrets.VAULT_PASSWORD }}

  uat:
    needs: [developer, build]
    uses: wtaxco/wtax-github-actions-workflows/.github/workflows/deploy-sfdx-project-to-uat.yml@testing
    with:
      run-tests: ${{ inputs.run-tests == null || inputs.run-tests }}
      environment: uat
      metadata-artifact: ${{ needs.build.outputs.metadata-artifact }}
      test-classes-artifact: ${{ needs.build.outputs.test-classes-artifact }}
      deletes-artifact: ${{ needs.build.outputs.deletes-artifact }}
      git-deploy-tag: uat
    secrets:
      ansible-vault-password: ${{ secrets.VAULT_PASSWORD }}

  production:
    needs: [uat, build]
    uses: wtaxco/wtax-github-actions-workflows/.github/workflows/deploy-sfdx-project-to-prod.yml@testing
    with:
      run-tests: ${{ inputs.run-tests == null || inputs.run-tests }}
      environment: prod
      metadata-artifact: ${{ needs.build.outputs.metadata-artifact }}
      test-classes-artifact: ${{ needs.build.outputs.test-classes-artifact }}
      deletes-artifact: ${{ needs.build.outputs.deletes-artifact }}
      git-deploy-tag: production
    secrets:
      ansible-vault-password: ${{ secrets.VAULT_PASSWORD }}
